<section class="home" id="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-12 border">
        <div class="content mt-2 m-3">
          <h3 class="text-left font-weight-bold">Unlocking Knowledge,<br> Empowering Minds.</h3>
          <p>Discover a world of learning opportunities at our educational platform, where knowledge meets innovation. Explore diverse courses, engage with expert educators, and embark on a journey of intellectual growth. Join us and redefine your learning experience.</p>
          <div class="text-center "> 
            <a href="#" class="btn btn-success">
              <span class="text font-weight-bold ">Learn More</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
