<div class="container">
  <section class="home-grid " *ngIf="!showEnrollment" >
    <h1 class="text-center text-bg bg-light p-2 rounded-pill">Select category of courses</h1>
    <div class="category-dropdown dropdown">
      <input type="text" class="dropdown-toggle form-control" data-toggle="dropdown" placeholder="Search Category" [(ngModel)]="searchTerm" (input)="filterCategories()">
      <ul class="dropdown-menu category-list">
        <li *ngFor="let category of filteredCategories" (click)="toggleCategory(category)">
          {{ category[1] }}
        </li>
      </ul>
    </div>
  </section>

  <section class="courses" *ngIf="!showEnrollment">
    <h1 class="heading">Our Courses</h1>
    <div class="table-container">
      <table class="table table-hover">
        <tbody>
          <tr *ngFor="let course of courses">
            <td>{{ course.courseName }}</td>
            <!-- Pass course ID to enrollCourse method -->
            <td><button class="btn btn-primary info float-right" data-toggle="modal" data-target="#myModal" (click)="toggleCourseContent(course.courseId)">Enroll</button></td>
          </tr></tbody>
      </table>
    </div>
    


  </section>
  <section class="enrollsection" id="enrollsection" *ngIf="showEnrollment">
    <div class="enrollModal" id="enrollModal" tabindex="-1" role="dialog" aria-labelledby="enrollModalLabel" aria-hidden="true">
      <div class="enrollmodal-dialog modal-dialog-centered" role="document">
        <div class="enrollmodal-content">
          <div class="enrollmodal-header bg-primary text-white">
            <h2 class="enrollmodal-title" id="enrollModalLabel">Course Enrollment</h2>
          </div>
          <div class="modal-body">
            <div *ngFor="let course of courses">
              <div class="coursecontent" *ngIf="course.showContent">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let content of courseContent">
                      <td>{{ content.contentTitle }}</td>
                      <td>{{ content.contentDescription }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="enroll-footer">
            <div class="enroll-foot text-center">
              <span *ngIf="authService.isLoggedIn()">
                <button class="btn btn-primary" (click)="enrollCourse(selectedCourseId)">Enroll Course</button>
              </span>
              <span *ngIf="!authService.isLoggedIn()">
                <a class="btn btn-info" routerLink="/login">Login</a>
              </span>
            </div>
          </div>
          <div class="btn btn-info" (click)="toggleEnrollment()">View Courses</div>        </div>
      </div>
    </div>

  </section>
</div>