<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-lg-2 col-sm-12 bg-primary text-white sidebar">
      <section class="home-grid">
        <div class="category-dropdown dropdown">
          <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" placeholder="Search Category" [(ngModel)]="searchTerm" (input)="filterCategories()">
          <ul class="dropdown-menu w-100">
            <li class="dropdown-item" *ngFor="let category of filteredCategories" (click)="toggleCategory(category)">
              {{ category[1] }}
            </li>
          </ul>
        </div>
      </section>
    </div>
    <div class="col-md-9 col-lg-10 col-sm-12 courses-section">
      <p-toast key="toast1"></p-toast>
      <section class="courses" *ngIf="!showEnrollment">
        <div class="table-container">
          <section class="home text-center" *ngIf="!coursecatelog">
            <h1 class="my-4">Welcome to Course Catalog</h1>
            <p class="lead">
              Course catalog offers a wide variety of courses to help you learn new skills and advance your career.
              From programming to business to design, we have something for everyone.
            </p>
            <p class="lead">
              To get started, simply select a category from the dropdown menu on the left and browse the available courses.
              When you find a course you're interested in, click the "Enroll" button to get started.
            </p>
            <p>Here are the steps to enroll in a course:</p>
            <ol class="text-left">
              <li>Select a category from the dropdown menu</li>
              <li>Browse the available courses</li>
              <li>Click the "Enroll" button for the course you want to take</li>
              <li>Confirm your enrollment in the enrollment modal</li>
              <li>Start learning!</li>
            </ol>
          </section>
          <h2 class="heading text-center bg-info text-light py-2">{{ selectedcategory }}</h2>
          <table class="table table-hover">
            <tbody>
              <tr *ngFor="let course of courses" class="col-sm-12">
                <td>{{ course.courseName }}</td>
                <td><button class="btn btn-primary float-right" (click)="toggleCourseContent(course.courseId)">Enroll</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <section class="enrollsection" id="enrollsection" *ngIf="showEnrollment">
        <div class="modal fade show d-block" id="enrollModal" tabindex="-1" role="dialog" aria-labelledby="enrollModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="enrollModalLabel">Course Enrollment</h5>
                <button type="button" class="close" aria-label="Close" (click)="toggleEnrollment()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div *ngFor="let course of courses">
                  <div class="coursecontent" *ngIf="course.showContent">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Description</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let content of courseContent">
                          <td>{{ content.contentTitle }}</td>
                          <td>{{ content.contentDescription }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <span *ngIf="authService.isLoggedIn()">
                  <button class="btn btn-primary" (click)="enrollCourse(selectedCourseId)">Enroll Course</button>
                </span>
                <span *ngIf="!authService.isLoggedIn()">
                  <a class="btn btn-info" routerLink="/login">Login</a>
                </span>
                <button class="btn btn-secondary" (click)="toggleEnrollment()">Close</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
