<div class="container-fluid blur-background">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4">
      <div class="login-form">
        <div class="login-forms">
          <app-login-signup-buttons (login)="navigateToLogin()" (signup)="navigateToSignup()"></app-login-signup-buttons>
          <div *ngIf="formState === 'login'">
            <h1 class="text-center mb-4 mt-3">Login</h1>
            <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="shadow p-3 mb-3 bg-white rounded">
              <div class="mb-3">
                <label  for="email" class="form-label">Email</label>
                <input  type="email" id="email" formControlName="email" class="form-control">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="password-input-group">
                  <input type="{{ passwordVisible ? 'text' : 'password' }}" id="password" formControlName="password" class="form-control">
                  <i class="password-toggle-icon fas" [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()"></i>
                </div>
                <span *ngIf="password?.invalid && password?.touched" class="text-danger">Password is required</span>
              </div>
              <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
            </form>
          </div>
          <div *ngIf="formState === 'reset'">
            <h2 class="text-center mb-4 mt-3">Reset Password</h2>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="shadow p-3 mb-3 bg-white rounded">
              <div class="mb-3">
                <label for="resetEmail" class="form-label">Email</label>
                <input type="email" id="resetEmail" formControlName="resetEmail" class="form-control">
                <span *ngIf="resetEmail?.invalid && resetEmail?.touched" class="text-danger">Email is required</span>
                <span *ngIf="resetEmail?.invalid && resetEmail?.errors?.['resetEmail'] && resetEmail?.touched" class="text-danger">Invalid email format</span>
              </div>
              <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input type="password" id="newPassword" formControlName="newPassword" class="form-control">
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control">
                <!-- <span *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['passwordMismatch']" class="text-danger">Passwords do not match</span> -->
                <span *ngIf="!passwordsMatch() && confirmPassword?.touched" class="text-danger">Passwords must match</span>

              </div>
              <button type="submit" [disabled]="resetPasswordForm.invalid" class="btn btn-primary">Reset Password</button>
            </form>
          </div>
          <div class="text-right">
            <button type="button" class="btn btn-link" (click)="toggleFormState($event)">
              {{ formState === 'login'? 'Forgot Password?' : 'Login Form' }}
            </button>
          </div>
          <div class="row justify-content-center">
            <div class="col text-center">
              <p>If you don't have an account, click <button type="button" class="btn btn-link border-info"(click)="toggleLogin()">here</button> to Register.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>