<footer class="footer" *ngIf="showFooter">

  <section class="footer text-white pt-4 pb-1">
    <div class="container-fluid">
      <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="box text-center">
          <h3 class="mb-4">Navigate Knowledge, Find Us Here.</h3>
          <p>Discover our global educational platform, connecting learners with quality resources and expert guidance. Explore, learn, and grow with us!</p>
          <div class="share">
            <a href="#" class="btn btn-link text-white"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="btn btn-link text-white"><i class="fab fa-twitter"></i></a>
            <a href="#" class="btn btn-link text-white"><i class="fab fa-instagram"></i></a>
            <a href="#" class="btn btn-link text-white"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-5 ">
        <div class="box text-center">
          <h3 class="mb-4">Contact Us</h3>
          <p class="mb-4">+1234 587 1478</p>
          <a href="mailto:contact@eduhub.com" class="link">contact&#64;eduhub.com</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-5 ">
        <div class="box text-center">
          <h3 class="mb-4">Address</h3>
          <p>ABC Street <br/> XYZ City<br/> India</p>
        </div>
      </div>
    </div>
  </div>
  <div class="credit mt-1 pt-4 pb-4 border-top">Created with <span>❤️‍</span>| EduHub 2024, <br/> All rights reserved!</div>
</section>

</footer>
