
.footer .box h3 {
  font-size: 2.2rem;
  color: var(--primary-color);
  padding: 1rem 0;
  
}

.footer .box p {
  font-size: 1rem;
  color: var(--white);
  line-height: 2;
  padding: 1rem 0;
}

.footer .box .share {
  margin-top: 1rem;
}

.footer .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 10%;
  font-size: 1.7rem;
  border: .1rem solid var(--primary-color);
  color: var(--primary-color);
  margin-right: .3rem;
  text-align: center;
}

.footer .box .share a:hover {
  background: var(--primary-color);
  color: var(--white);
}

.footer .box .link {
  font-size: 1.7rem;
  line-height: 2;
  color: var(--white);
  padding: .5rem 0;
  display: block;
}

.footer .box .link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.footer .credit {
  font-size: 2rem;
  margin-top: 3rem;
  padding-top: 3rem;
  text-align: center;
  color: var(--white);
  border-top: .1rem solid var(--primary-color);
}

.footer .credit span {
  color: var(--primary-color);
}
