<div class="container-fluid blur-background">
  <div class="row justify-content-center align-items-center">
  <div class="col-md-4">
  <div class="register-form">
    <div class="row justify-content-center">
      <div class="col">
        <div class="container">
          <div class="registration-form">
            <app-login-signup-buttons (login)="navigateToLogin()" (signup)="navigateToSignup()"></app-login-signup-buttons>
            <h1 class="text-center mb-4 mt-3">Student Registration Form</h1>
            <form [formGroup]="registrationForm" (ngSubmit)="registerUser()" class="shadow p-3 mb-3 bg-white rounded">
              <div class="mb-3">
                <label for="userName" class="form-label">Username</label>
                <input type="text" id="userName" placeholder="Enter userName" formControlName="userName" class="form-control">
                <span *ngIf="userName?.invalid && userName?.touched" class="text-danger">userName is required</span><br>
                <span *ngIf="userName?.errors?.['alphanumeric'] && userName?.touched" class="text-danger">Username must be alphanumeric</span>
              </div>  
              <div class="mb-3">
                <label for="email" class="form-label">E-Mail</label>
                
                <input type="email" id="email" placeholder="Enter E-Mail" formControlName="email" class="form-control">
                <span *ngIf="email?.invalid && email?.touched" class="text-danger mr-3">Email is required</span>
                <span *ngIf="email?.invalid && email?.errors?.['email'] && email?.touched" class="text-danger">Invalid email format</span>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="password-input-group">
                  <input type="{{ passwordVisible ? 'text' : 'password' }}" id="password" formControlName="password" class="form-control">
                  <i class="password-toggle-icon fas" [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()"></i>
                </div>
              
                <span *ngIf="password?.invalid && password?.touched" class="text-danger">Password is required</span>
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <div class="password-input-group">
                  <input type="{{ passwordVisible ? 'text' : 'password' }}" id="confirmPassword" formControlName="confirmPassword" class="form-control">
                  <i class="password-toggle-icon fas" [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()"></i>
                </div>
              
                <span *ngIf="confirmPassword?.invalid && confirmPassword?.touched" class="text-danger">Confirm Password is required</span>
                <span *ngIf="!passwordsMatch() && confirmPassword?.touched" class="text-danger">Passwords must match</span>
              </div>
              
              <button type="submit" [disabled]="registrationForm.invalid || !passwordsMatch()" class="btn btn-primary">Register</button>
              
              
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center loginhere">
      <div class="col text-center">
        <p>If you have already registered,  click <button type="button" class="btn btn-link border-info" (click)="toggleLogin()">here</button> to login.</p>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

<p-toast key="toast1"></p-toast>