.blur-background {
  background-image: url('/assets/bg_background.png');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
}

.register-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control {
  border-radius: 5px;
}

.btn-primary {
  border-radius: 5px;
}

.text-danger {
  font-size: 0.9em;
  color: red; /* Added color red for consistency */
}

.btn-link {
  font-weight: bold;
}

.login-forms h1 {
  font-size: 2em;
}
.password-input-group {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.login-forms h1, .login-forms h2, .registration-form h1 {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .register-form, .login-form {
    margin-top: 8vh;
    padding: 15px;
  }

  .login-forms h1, .login-forms h2, .registration-form h1 {
    font-size: 1.5rem;
  }

  .btn-primary {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .register-form, .login-form {
    margin-top: 10vh;
    padding: 10px;
  }

  .login-forms h1, .login-forms h2, .registration-form h1 {
    font-size: 1.2rem;
  }

  .btn-primary {
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .register-form, .login-form {
    margin-top: 8vh;
    padding: 20px;
  }

  .login-forms h1, .login-forms h2, .registration-form h1 {
    font-size: 1.75rem;
  }

  .btn-primary {
    font-size: 0.9rem;
  }

  .form-control {
    font-size: 0.9rem;
  }

  .text-danger {
    font-size: 0.85em;
  }

  .btn-link {
    font-size: 0.9rem;
  }
}